<template>
  
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          
        >
          Tambah
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Perangkat Daerah</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              
              
              <v-col cols="12">
                <v-text-field label="Nama SKPD*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-autocomplete required
                  :items="['Inspektur', 'Sekretaris', 'Irban 1', 'Irban 2', 'Irban 3', 'Irban Khusus']"
                  label="Wilayah Kerja*"
                  multiple
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
          <small>*Harus Diisi</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
</template>

<script>


  export default {
    name: 'ModalCreate',
    
    data: () => ({
      dialog: false,
      title: 'anjing'
    }),
  }
</script>