<template>
  <v-card>
    <ToolbarCreatePegawai
    title='Pegawai'
    to='/master/pegawai'
    />
    <v-divider></v-divider>

    <v-data-table
      :headers="headers"
      :items="desserts"
      :items-per-page="5"
      class="main-data"
    ></v-data-table>
  </v-card>
</template>

<script>
import ConfirmDelete from '@/components/dialogue/delete';
import ToolbarCreatePegawai from './toolbar-create-pegawai';
import axios from 'axios';

export default {
  layout: 'admin',
  components: {
    ConfirmDelete,
    ToolbarCreatePegawai,
  },
  head: {
    title: 'Data Pegawai',
  },

  
  data () {
    return {
      search: '',
      promptDeleteoption: {
        id: '',
        title: '',
      },
      tableHeader: [
        { text: 'No', value: 'numbering', sortable: false },
        { text: 'City Name', value: 'cityName' },
        { text: 'Airport Code', value: 'code' },
        { text: 'Airport Name', value: 'name' },
        { text: '', value: 'action', sortable: false },
      ],
    };
  },
};
</script>