<template>
  
    <v-dialog v-model="dialog" persistent max-width="500px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          
        >
          Tambah
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Data Pegawai</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              
              
              <v-col cols="12">
                <v-text-field label="NIP*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Nama*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Gelar" required></v-text-field>
              </v-col>
              <v-col cols="12">
                  <v-select
                    v-model="select"
                    :items="golongan"
                    :rules="[v => !!v || 'Item is required']"
                    label="Pangkat Golongan"
                    required
                    ></v-select>
              </v-col>
              <v-col cols="12">
                  <v-select
                    v-model="select"
                    :items="jabatan"
                    :rules="[v => !!v || 'Item is required']"
                    label="Jabatan"
                    required
                    ></v-select>
              </v-col>
              
              <v-col cols="12">
                <v-text-field label="Skor Angka Kredit"></v-text-field>
              </v-col>
              
            </v-row>
          </v-container>
          <small>*Harus Diisi</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
</template>

<script>


  export default {
    name: 'ModalCreatePegawai',
    
    data: () => ({
      dialog: false,
      title: 'Data Pegawai',
      select: null,
      golongan: [
          'IVa',
          'IVb',
          'IVc',
          'IVd',
          'IIIa',
          'IIIb',
          'IIIc',
          'IIId',
          'IIa',
          'IIb',
          'IIc',
          'IId',
          'Ia',
          'Ib',
          'Ic',
          'Id',
      ],
      jabatan:[
          'Inspektur',
          'Sekretaris Daerah',
          'Inspektur Pembantu I',
          'Inspektur Pembantu II',
          'Inspektur Pembantu III',
          'Inspektur Pembantu Khusus',
          'Kasubag Administrasi Umum dan Keuangan',
          
      ],

      
      
    }),
  }
</script>