<template>
<div>
  <v-toolbar>
    <v-toolbar-title>
      {{ title }}
    </v-toolbar-title>

    <v-spacer></v-spacer>
        <ModalCreatePegawai/>
  </v-toolbar>
  
</div>
</template>

<script>
import ModalCreatePegawai from './modal-pegawai'

export default {
  name: 'ToolbarCreatePegawai',
  components: {
      ModalCreatePegawai
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    to: {
      type: String,
      default: '#'
    }
  },
  data() {
    return {
      dialog: false,
    };
  },
  created() {
    this.$on('show', this.show);
  },
  methods: {
    show() {
      this.dialog = true;
    },
    hide(status) {
      this.dialog = false;

      this.$emit('onClickAction', status);
    },
  },
};
</script>
