<template>
  <v-dialog
    v-model="dialog"
    max-width="350"
    persistent
  >
    <v-card>
      <v-card-title>
        {{ title }}
      </v-card-title>
      <v-card-text>
        <span class="warning--text">WARNING!</span> You cannot undo this action.
      </v-card-text>
      <v-card-actions>
        <v-spacer />

        <v-btn
          text
          @click="hide(false)"
        >
          Cancel
        </v-btn>

        <v-btn
          color="red"
          text
          @click="hide(true)"
        >
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ConfirmDelete',
  props: {
    title: {
      type: String,
      default: 'Delete this item?',
    },
  },
  data() {
    return {
      dialog: false,
    };
  },
  created() {
    this.$on('show', this.show);
  },
  methods: {
    show() {
      this.dialog = true;
    },
    hide(status) {
      this.dialog = false;

      this.$emit('onClickAction', status);
    },
  },
};
</script>
