<template>
  <v-card>
    <ToolbarCreate
    title='Perangkat Daerah'
    to='/master/perangkat-daerah/create'
    />
    <v-divider></v-divider>

    <v-data-table
      :headers="headers"
      :items="desserts"
      :items-per-page="5"
      class="main-data"
    ></v-data-table>
  </v-card>
</template>

<script>
import ConfirmDelete from '@/components/dialogue/delete';
import ToolbarCreate from '@/components/crud/toolbar-create';

export default {
  layout: 'admin',
  components: {
    ConfirmDelete,
    ToolbarCreate,
  },
  head: {
    title: 'Perangkat Daerah',
  },
  data () {
    return {
      search: '',
      promptDeleteoption: {
        id: '',
        title: '',
      },
      tableHeader: [
        { text: 'No', value: 'numbering', sortable: false },
        { text: 'City Name', value: 'cityName' },
        { text: 'Airport Code', value: 'code' },
        { text: 'Airport Name', value: 'name' },
        { text: '', value: 'action', sortable: false },
      ],
    };
  },
};
</script>
