<template>
<div>
  <v-toolbar>
    <v-toolbar-title>
      {{ title }}
    </v-toolbar-title>

    <v-spacer></v-spacer>
       
  </v-toolbar>
  
</div>
</template>

<script>


export default {
  name: 'ToolbarSo',
  
  props: {
    title: {
      type: String,
      default: '',
    },
    to: {
      type: String,
      default: '#'
    }
  },
  data() {
    return {
      dialog: false,
    };
  },
  created() {
    this.$on('show', this.show);
  },
  methods: {
    show() {
      this.dialog = true;
    },
    hide(status) {
      this.dialog = false;

      this.$emit('onClickAction', status);
    },
  },
};
</script>
