<template>
  <v-container>
    <v-card>
      <v-tabs v-model="tab" background-color="primary" dark>
        <v-tab v-for="item in items" :key="item.tab">
          {{ item.tab }}
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item v-for="item in items" :key="item.tab">
          <v-card flat>
            <v-card-text>
              <component v-bind:is="item.content"></component>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script>
import Kalender from './kalender';
//import TabelProgramKerja from './tabel-program-kerja';
import Anjing1 from './test1.vue'
export default {
  layout: 'admin',
  components: {
    Kalender,
    Anjing1
  },
  data() {
    return {
      tab: null,
      items: [
        { tab: 'Component A', content: 'Kalender' },
        { tab: 'Component B', content: 'Anjing1' }
      ]
    };
  }
};
</script>