<template>
  <v-app>
    <v-navigation-drawer
      permanent
      fixed
      stateless
      app
    >
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/women/75.jpg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          Welcome, Administrator!
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list
        v-for="menu in menus"
        :key="menu"
      >
        <v-list-item v-if="menu.submenu == null">
          <v-list-item-icon>
            <v-icon>{{ menu.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-title>{{ menu.title }}</v-list-item-title>
        </v-list-item>

        <v-list-group
          v-else
          value="true"
        >
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon>{{ menu.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ menu.title }}</v-list-item-title>
          </template>

          <v-list-item-group 
          class='p-5'>
            <v-list-item
              v-for="(submenu, i) in menu.submenu"
              :key="i"
              link
              :to=submenu.to
            >
              <v-list-item-title v-text="submenu.title"></v-list-item-title>
              <v-list-item-icon>
                <v-icon v-text="submenu.icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-item-group>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      menus: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Master',
          to: '#',
          submenu: [
            {
              title: 'Perangkat Daerah',
              to: '/master/perangkat-daerah',
            },
            {
              title: 'Data Pegawai',
              to: '/master/pegawai',
            },
            {
              title: 'Struktur Organigram',
              to: '/master/struktur-organigram',
            },
            {
              title: 'Kegiatan',
              to: '/master/kegiatan',
            },
            {
              title: 'Program Kerja',
              to: '/master/program-kerja',
            }
          ]
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Surat Perintah',
          to: '#',
          submenu: [
            {
              title: 'Buat Surat Perintah',
              to: '/pkpt/surat-perintah',
            },
            {
              title: 'Penomeran Surat',
              to: '/pkpt/surat-perintah/nomer',
            },
            {
              title: 'Kalendar Kerja',
              to: '/pkpt/surat-perintah/kalendar',
            }
          ]
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Inspektorat'
    }
  }
}
</script>
