<template>
  
    <v-dialog v-model="dialog" persistent max-width="500px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          
        >
          Tambah
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Tambah Kegiatan</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              
              
              <!-- Dropdown Kegiatan -->
              <v-col cols="12">
                  <v-select
                    v-model="select"
                    :items="Kegiatan"
                    :rules="[v => !!v || 'Item is required']"
                    label="Kegiatan"
                    required
                    ></v-select>
              </v-col>
              
              
              
              
            </v-row>
          </v-container>
          <small>*Harus Diisi</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Tutup</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
</template>

<script>


  export default {
    name: 'ModalCreateKegiatan',
    
    data: () => ({
      dialog: false,
      title: 'Tambah Kegiatan',
      select: null,
      // isian jenis kegiatan
      Kegiatan: [
          'Monitoring',
          'Pemeriksaan',
          'Evaluasi',
      ],
      

      
      
    }),
  }
</script>